<html>
    <head>
        <title>To-Do List</title>
    </head>
    <body>
        <h1>Start a new To-Do list</h1>
        <form action="/lists/new" method="POST">
        {% csrf_token %}
            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
        </form>
    </body>
</html>