<html>
    <head>
        <title>To-Do List</title>
    </head>
    <body>
        <h1>Your To-Do list</h1>
        <form action="/lists/{{ list.id }}/add_item" method="POST">
        {% csrf_token %}
            <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
        </form>
        <table id="id_list_table">
            <tr>
                {% for item in list.item_set.all %}
                    <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>